// Created by sabrecat on 5/18/15.

script(type='text/ng-template', id='modals/welcome.html')
   .modal-header
      h4=env.t('welcomeToHabit')
   .modal-body.text-center
      .welcome_to_Habit_1.center-block
      h4=env.t('welcome1')
      .welcome_to_Habit_2.center-block
      h4=env.t('welcome2')
   .modal-footer
      span.h4=env.t('welcome3')
      |&nbsp;
      span.button.btn.btn-primary(ng-click='$close(); Guide.goto("intro",0)')=env.t('imReady')